/*PC*/
.grid {
    width: 100%;
    max-width: 1200px;
    display: block;
    padding: 0;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.column {
    padding-left: 5px;
    padding-right: 5px;
}

.p-0 {
    display: none;
}

.p-1,
.p-2,
.p-3,
.p-4,
.p-5,
.p-6,
.p-7,
.p-8,
.p-9,
.p-10,
.p-11,
.p-12 {
    display: block;
}

.p-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.p-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.p-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.p-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.p-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.p-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.p-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.p-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.p-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.p-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.p-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.p-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.p-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/*Low PC*/
@media (min-width: 1024px) and (max-width: 1239px) {
    .content__product-itemSaleTag {
        min-height: 35.2px;
    }

    .content__product-itemGreatDeal,
    .content__product-itemGift,
    .content__product-itemTrendyShop,
    .content__product-itemSale,
    .content__product-itemPercentSale,
    .content__product-itemRepayCoin {
        display: inline-block;
    }
    
    .content__product-itemSaleTag {
        min-height: 39.2px;
    }

    .footer__part3 {
        padding-bottom: 10px;
    }

    .grid {
        width: 984px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .showOnTablet {
        display: block;
    }

    .hideOnTablet {
        display: none;
    }

    .header {
        height: 97px;
    }

    .header__seconPart-cartIcon {
        margin: 0px 9px 0px 50px;
    }

    .content__product-itemSaleTag {
        min-height: 39.2px;
    }

    .content__product-itemGreatDeal,
    .content__product-itemGift,
    .content__product-itemTrendyShop,
    .content__product-itemSale,
    .content__product-itemPercentSale,
    .content__product-itemRepayCoin {
        display: inline-block;
    }

    .content__product-item {
        min-height: 331.86px;
    }

    .footer__part3 {
        padding-bottom: 10px;
    }

    .grid {
        width: 644px;
    }

    .t-0 {
        display: none;
    }

    .t-1,
    .t-2,
    .t-3,
    .t-4,
    .t-5,
    .t-6,
    .t-7,
    .t-8,
    .t-9,
    .t-10,
    .t-11,
    .t-12 {
        display: block;
    }

    .t-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .t-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .t-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .t-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .t-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .t-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .t-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .t-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .t-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .t-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .t-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .t-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .t-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*Mobile*/
@media (max-width: 739px) {
    .showOnMobile {
        display: block;
    }

    .hideOnMobile {
        display: none;
    }

    .headerPreviousPageIcon {
        margin-left: 10px;
    }

    .header {
        height: 97px;
    }

    .header__seconPart-cartIcon {
        margin: 0px 9px 0px 50px;
    }

    .content {
        padding-bottom: 26px;
    }

    .footer {
        border-top: 1px solid #ee4d2d;
    }

    .footer__part3 {
        padding-bottom: 10px;
    }

    .footer__part2 {
        padding-top: 20px;
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    
    .column {
        padding-left: 5px;
        padding-right: 5px;
    }

    .m-0 {
        display: none;
    }
    
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}